body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.input-container {
    margin-bottom: 20px;
}

.value-input {
    width: 80px; 
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 5px;

}

.value-input:last-child {
    margin-right: 0; /* Remove margin-right for the last input in each row */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    position: relative;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.clear-btn {
    background-color: #ff0000; /* Red background color */
    color: #fff;
}

.clear-btn:hover {
    background-color: #cc0000; /* Darker red on hover */
}

button:hover {
    background-color: #0056b3;
}

#result-container {
    margin-top: 20px;
}

.result {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
}

.value-input.invalid {
    border: 2px solid red; /* Highlight invalid inputs with red border */
}

#pdf-upload-container {
    margin-top: 30px;
    text-align: center;
}

#pdf-upload {
    margin-bottom: 20px;
}

#additional-info-container {
    margin-top: 30px;
    text-align: center;
}

#additional-info-container input {
    margin-bottom: 10px;
    padding: 8px;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 95%;
        margin: 10px auto;
    }

    h1, h2 {
        font-size: 1.5em;
    }

    .input-container, #additional-info-container, #pdf-upload-container {
        grid-template-columns: 1fr;
    }
}